@font-face {
  font-family: cgB;
  src: url(../../public/font/CormorantGaramond-Bold.ttf);
}
@font-face {
  font-family: cgR;
  src: url(../../public/font/CormorantGaramond-Regular.ttf);
}
@font-face {
  font-family: gothB;
  src: url(../../public/font/gothampro_medium.ttf);
}
@font-face {
  font-family: gothM;
  src: url(../../public/font/gothampro.ttf);
}
body {
  font-family: gothM !important;
  box-sizing: border-box;
  cursor: default;
}
button:focus {
  border: none !important;
}
@keyframes fade-rtl {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes suspendedone {
  50% {
    transform: translate(-10%, 1%);
  }
}
@keyframes suspendedtwo {
  0% {
    transform: rotate(-35deg);
  }
  50% {
    transform: rotate(-30deg) translate(-5%);
  }
  100% {
    transform: rotate(-40deg);
  }
}
@keyframes suspendedthree {
  50% {
    transform: translate(-10%, -5%);
  }
}
@keyframes nextone {
  0% {
    transform: translateX(20vw);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes nexttwo {
  0% {
    transform: translateX(20vw);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes previousone {
  0% {
    transform: translateX(-20vw);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes previoustwo {
  0% {
    transform: translateX(-20vw);
  }
  100% {
    transform: translateX(0px);
  }
}
@media screen and (max-width: 576px) {
  @keyframes nextone {
    0% {
      transform: translateX(50vw);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes nexttwo {
    0% {
      transform: translateX(50vw);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes previousone {
    0% {
      transform: translateX(-50vw);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes previoustwo {
    0% {
      transform: translateX(-50vw);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
